.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__yyRxn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__yyRxn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yyRxn > :global(.__wab_flex-container) > *,
.freeBox__yyRxn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yyRxn > :global(.__wab_flex-container) > picture > img,
.freeBox__yyRxn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___2LGlb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  min-width: 0;
}
.freeBox___1EdQ {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxisError___1EdQneT3K {
  display: flex;
}
.freeBox___3L4Ql {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetErrorMessage {
  color: var(--token-j-ZwOKbpUCqd);
  font-weight: 600;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tsMi2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___3Rb9U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mvFfl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pCpJ4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
  height: 48px;
  color: #131614;
  flex-shrink: 0;
  display: none;
}
.svgisLoading {
  display: block;
}
.submitButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__nkiYr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__an2Pw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__dk6Le {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__mlt8A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link {
  position: relative;
  display: flex;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg___4XhxP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wjsg7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
